html {
  font-size: 10px;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 30px 1.3fr 1.3fr 1.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'sidebar a1 a2 a3' 'sidebar b1 b2 b3' 'sidebar c123 c123 c123';
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: visible;
}

.header {
  grid-area: header;
  border-top-left-radius: 25px;
  padding: 20px 40px;
  font-size: 2.4em;
  font-weight: 200;
  color: #fff;
}

.sidebar {
  grid-area: sidebar;
  background-color: #67b246;
  overflow: visible;
}

.inside {
  grid-area: 1 / 2 / 6 / 6;
  box-shadow: inset 20px 20px 60px #232323, inset -20px -20px 60px #2f2f2f;
  border-radius: 20px 0 0 20px;
  background-color: #2f2f2f;
}

.a1 {
  grid-area: a1;
  background: #3c3c3c;
}

.a2 {
  grid-area: a2;
  background: #3c3c3c;
}

.a3 {
  grid-area: a3;
  background: #3c3c3c;
}

.b1 {
  grid-area: b1;
  background: #3c3c3c;
}

.b2 {
  grid-area: b2;
  background: #3c3c3c;
}

.b3 {
  grid-area: b3;
  background: #3c3c3c;
}

g#surface2 g {
  fill: #fff !important;
}

.c123 {
  grid-area: c123;
  background: #3c3c3c;
  border-bottom-left-radius: 25px;
  overflow-x: hidden;
  padding: 10px;
}

.item {
  position: relative;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-around;
  border-radius: 23px;
  background: #292929;
  box-shadow: 20px 20px 60px #1e1e1e, -20px -20px 60px #343434;
}

.item-header {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 30px;
  border-radius: 50px;
  background-color: #202020;

  font-size: 2rem;
  font-family: var(--font-header);
  border-radius: 50px;
  background: #292929;
  box-shadow: inset -20px -20px 60px #232323, inset 20px 20px 60px #2f2f2f;
}

.data-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pve-item {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pve-logo {
  width: 24px;
  padding: 5px;
  margin-left: 5px;
}
.pve-logo-wrapper {
  position: relative;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow: 9px 9px 25px #242424, -9px -9px 25px #424242;
}

.pve-logo-label {
  color: #fff;
  font-size: 1.6rem;
  font-family: var(--body-font);
  margin: 0px 10px 0 5px;
}

.cpu-label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: var(--font-body);
}

.do-item {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.do-avatar {
  display: flex;
  align-items: center;
}

.do-stat-wrapper {
  flex-grow: 1;
}

.do-cpu {
}

.do-ram {
}

.do-label-wrapper {
  display: flex;
  flex-direction: column;
}

.do-cpu-label {
}

.do-ram-label {
}

.b1 {
  padding: 0;
}

.nms-traffic {
  width: 400px;
  max-width: 400px;
}

.ticker__item {
  margin: 0 10px;
}
