@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;600&display=swap');

:root {
  --font-body: 'Fira Sans';
  --font-header: 'Inconsolata';

  --primary: #67b246;
}

body {
  margin: 0;
  background: #67b245;
  height: 100%;
  width: 100%;
  font-family: var(--font-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
